{% extends 'base.html' %}
{% block content %}
<style>
     .page-title{
    color:white;
    }
    .page-red{
    height:100px;
    width:100%;
    background-color:#6c2400;
    position:relative;
    top:0;
    text-align:center;
    margin-top: 62px;
   }
.portfolio-filter {
    list-style: none outside none;
    margin: 0 0 50px 0;
    padding: 0;
}


.text-center {
    text-align: center;
}
.portfolio-filter ul li {
    display: inline;
}
.portfolio-items{
    list-style: none outside none;
    margin: 0 0 50px 0;
    padding-right: -15px;
}


.portfolio-filter {
    list-style: none outside none;
    margin: 0 0 50px 0;
    padding: 0;
}
.portfolio-item {
    margin: 0;
    padding: 0;
}
.recent-work-wrap {
    position: relative;
}
.recent-work-wrap a {
    color: #404040;
    font-family: 'Titillium Web', sans-serif;
     transition: color 300ms, background-color 300ms;
    font-weight: 400;
    text-decoration: none;
    }
.recent-work-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(255,255,255,0.7);
    color: #404040;
    vertical-align: middle;
    transition: opacity 500ms;
    padding: 30px;
    background-image: url(images/portfolio.svg);
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.recent-work-wrap .recent-work-inner {
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
}
.recent-work-wrap{
height:380px;
 width:380px;
 }
 .portfolio-items, .portfolio-filter {
    list-style: none outside none;
    }
 .p-title {
    color: #404040;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Titillium Web', sans-serif;
}
.p-title a {
    color: #404040;
}


    </style>
<div class="page-red"><h5 class="page-title">Gallery</h5>


<div style="position: absolute;   top: -99px;    left: 0;    right:0;">
<svg class="chevron-red" style="fill:#6c2400; position:relative; left:0;" fill-opacity="1" height="100px" preserveAspectRatio="none"viewBox="0 0 100 100" width="30%">
  <path d="m0,100l50,-50l50,50l-100,0" stroke-width="0"></path>
</svg>
</div> <!-- svg red image -->



<div style="position: absolute;   bottom:-6px;    left: 0;    right:0; ">
<svg style="fill:#fff; position:relative; left:0;" fill-opacity="1" height="100px"  preserveAspectRatio="none"  viewBox="0 0 100 100" width="30%">
  <path d="m0,100l50,-50l50,50l-100,0" stroke-width="0"></path>
</svg>
</div> <!-- svg white image -->
</div>


<div class="container" style="margin-top:30px; width=1140px; width:100%">
<div class="col s12" style="width: 1140px; height: 3933px;">


          <!-- page-header -->


          <div class="portfolio-filter text-center">
          <ul style="margin: 0; padding: 0; list-style-type: none;">

          <li><a data-filter="*" href="#" class="waves-effect waves-light btn">All</a>
          </li>
          	<li><a href="#" class="waves-effect waves-light btn" data-filter=".feet ">Feet</a>
</li>
	<li><a href="#" class="waves-effect waves-light btn" data-filter=".hands ">Hands</a>
</li>
	<li><a href="#" class="waves-effect waves-light btn" data-filter=".other ">Other</a>
</li>

</ul>
        </div> <!-- .portfolio-filter .text-center -->






<div class="row">

  <div class="portfolio-items" style="position: relative; height: 3800px;">
      <div  class="handimages" id="1">


      </div>


    <div class="portfolio-item hands  col s4" >
        <div class="recent-work-wrap" >

            <a href="http://www.mehndidesigner.com/portfolio/custom-bridal-mehndi-design/">
                <img alt="Bridal mehndi stain" src="http://www.mehndidesigner.com/wp-content/uploads/2017/05/bridal-mehndi.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title">
                    <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-stain-3/">Bridal mehndi stain</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2017/05/bridal-mehndi.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 0px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/custom-bridal-mehndi-design/">
                <img alt="Custom Bridal Mehndi Design" src="http://www.mehndidesigner.com/wp-content/uploads/2017/05/Mehndi_002.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/custom-bridal-mehndi-design/">Custom Bridal Mehndi Design</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2017/05/Mehndi_002.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col-xs-12 col-sm-6 col-md-4" style="position: absolute; left: 760px; top: 0px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/henna-stain-collaboration-shoot/">
                <img alt="Henna stain for collaboration shoot" src="http://www.mehndidesigner.com/wp-content/uploads/2017/05/SV_Design_081.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/henna-stain-collaboration-shoot/">Henna stain for collaboration shoot</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2017/05/SV_Design_081.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 0px; top: 380px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/fresh-bridal-mehndi/">
                <img alt="Fresh Bridal Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2017/05/Pams_Mehndi_195.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/fresh-bridal-mehndi/">Fresh Bridal Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2017/05/Pams_Mehndi_195.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 380px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-henna-stain/">
                <img alt="Bridal henna stain" src="http://www.mehndidesigner.com/wp-content/uploads/2017/05/S_H_Wed_0092.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-henna-stain/">Bridal henna stain</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2017/05/S_H_Wed_0092.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 760px; top: 380px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/fresh-henna-application/">
                <img alt="Fresh henna application" src="http://www.mehndidesigner.com/wp-content/uploads/2017/05/manpreet-toor-mehndi.png" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/fresh-henna-application/">Fresh henna application</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2017/05/manpreet-toor-mehndi.png" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 0px; top: 760px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-sangeet-night/">
                <img alt="Bridal mehndi sangeet night" src="http://www.mehndidesigner.com/wp-content/uploads/2016/09/collaboration-bridal-mehndi-3.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-sangeet-night/">Bridal mehndi sangeet night</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2016/09/collaboration-bridal-mehndi-3.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 760px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-sangeet-look/">
                <img alt="Bridal mehndi sangeet look" src="http://www.mehndidesigner.com/wp-content/uploads/2016/09/collaboration-bridal-mehndi-2.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-sangeet-look/">Bridal mehndi sangeet look</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2016/09/collaboration-bridal-mehndi-2.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 760px; top: 760px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-stain-2/">
                <img alt="Bridal Mehndi Stain" src="http://www.mehndidesigner.com/wp-content/uploads/2016/09/collaboration-bridal-mehndi-1.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-stain-2/">Bridal Mehndi Stain</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2016/09/collaboration-bridal-mehndi-1.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item other  col s4" style="position: absolute; left: 0px; top: 1140px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/mehndi-cake-decor/">
                <img alt="Mehndi Cake Decor" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-002.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/mehndi-cake-decor/">Mehndi Cake Decor</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-002.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 1140px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-palm-stain/">
                <img alt="Bridal Mehndi Palm Stain" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-001.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-palm-stain/">Bridal Mehndi Palm Stain</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-001.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 760px; top: 1140px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-stain/">
                <img alt="Bridal Mehndi Stain" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-004.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-stain/">Bridal Mehndi Stain</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-004.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item feet hands  col s4" style="position: absolute; left: 0px; top: 1520px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-2/">
                <img alt="Bridal Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-005.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi-2/">Bridal Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-005.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 1520px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/simple-elegant-mehndi/">
                <img alt="Simple &amp; Elegant Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-006.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/simple-elegant-mehndi/">Simple &amp; Elegant Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-006.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 760px; top: 1520px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/floral-mehndi-design/">
                <img alt="Floral Mehndi Design" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-007.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/floral-mehndi-design/">Floral Mehndi Design</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-007.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 0px; top: 1900px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/hand-mehndi-with-glitter/">
                <img alt="Hand Mehndi with Glitter" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-008.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/hand-mehndi-with-glitter/">Hand Mehndi with Glitter</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-008.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 1900px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi/">
                <img alt="Bridal Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-009.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/bridal-mehndi/">Bridal Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-009.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item other  col s4" style="position: absolute; left: 760px; top: 1900px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/mehndi-cake-details/">
                <img alt="Mehndi Cake Details" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-003.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/mehndi-cake-details/">Mehndi Cake Details</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-003.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 0px; top: 2280px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/snow/">
                <img alt="Bridal Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-021.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/snow/">Bridal Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-021.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item feet hands  col s4" style="position: absolute; left: 380px; top: 2280px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/winter-sunny-day/">
                <img alt="Bridal Hand &amp; Feet Henna" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-020.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/winter-sunny-day/">Bridal Hand &amp; Feet Henna</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-020.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 760px; top: 2280px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/snow-mount/">
                <img alt="Bridal Hand Henna" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-019.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/snow-mount/">Bridal Hand Henna</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-019.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 0px; top: 2660px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/summer/">
                <img alt="Applying Bridal Henna" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-018.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/summer/">Applying Bridal Henna</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-018.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 2660px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/sun-cloud/">
                <img alt="Intricate Bridal Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-017.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/sun-cloud/">Intricate Bridal Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-017.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item feet  col s4" style="position: absolute; left: 760px; top: 2660px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/sunset/">
                <img alt="Bridal Feet Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-016.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/sunset/">Bridal Feet Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-016.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 0px; top: 3040px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/dark-sky/">
                <img alt="Mehndi Design Details" src="http://www.mehndidesigner.com/wp-content/uploads/2014/12/mehndi-henna-015.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/dark-sky/">Mehndi Design Details</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2014/12/mehndi-henna-015.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item other  col s4" style="position: absolute; left: 380px; top: 3040px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/orbits/">
                <img alt="Mehndi Design Cookies" src="http://www.mehndidesigner.com/wp-content/uploads/2015/04/mehndi-henna-014.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/orbits/">Mehndi Design Cookies</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/04/mehndi-henna-014.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item feet  col s4" style="position: absolute; left: 760px; top: 3040px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/forestry/">
                <img alt="Feet Henna" src="http://www.mehndidesigner.com/wp-content/uploads/2014/12/mehndi-henna-013.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/forestry/">Feet Henna</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2014/12/mehndi-henna-013.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 0px; top: 3420px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/cold-fusion/">
                <img alt="Bridal Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-012.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/cold-fusion/">Bridal Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-012.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 380px; top: 3420px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/hybrid-teory/">
                <img alt="Bridal Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-011.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/hybrid-teory/">Bridal Mehndi</a></div>
                      <p>
             ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-011.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->






    <div class="portfolio-item hands  col s4" style="position: absolute; left: 760px; top: 3420px;">
        <div class="recent-work-wrap">
            <a href="http://www.mehndidesigner.com/portfolio/507-comparative-ii/">
                <img alt="Bridal Hands Mehndi" src="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-010.jpg" class="responsive-img">
                  </a>
        <div class="overlay">
            <div class="recent-work-inner wow fadeIn animated animated" style="visibility: visible;">
                <div class="p-title"><a href="http://www.mehndidesigner.com/portfolio/507-comparative-ii/">Bridal Hands Mehndi</a></div>
                      <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec mollis. Quisque convallis  ...</p>




      <a href="http://www.mehndidesigner.com/wp-content/uploads/2015/02/mehndi-henna-010.jpg" class="preview magnific"><div class="team team-search"></div></a>
                                </div> <!-- .recent-work-inner -->
                            </div> <!-- .overlay -->
                        </div> <!-- .recent-work-wrap -->
                    </div><!--/.portfolio-item-->



</div> <!-- .portfolio-items -->
    </div> <!-- .row -->
  </div> <!-- .container -->


			</div>





{% endblock %}