{% extends 'base.html' %}
{% block content %}
<style>
     .page-title{
    color:white;
    }
    .page-red{
    height:100px;
    width:100%;
    background-color:#6c2400;
    position:relative;
    top:0;
    text-align:center;
    margin-top: 62px;
   }
.divider{
    content: "";
    position: relative;
    height: 4px;
    width: 60px;
    display: block;
    text-align: center;
    margin: 20px auto;

    background: orange;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.center h1 {
    font-size: 50px;
    color: #404040;
    font-weight: 200;
    margin: 0 !important;
    padding-top: 22px;
}


h2 {
    font-size: 40px;
    font-weight: 400;
    color: #404040;
}
 h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
    padding: 15px;
    color: #404040;
    font-weight: 300;
        margin-top: 20px;
    margin-bottom: 10px;

}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col s4 p {
    margin: 0 0 25px;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    color: #404040;
    margin-top: 20px;

}
.plan {
    position: relative;

}
.fadeIn {
    animation-name: fadeIn;
}
.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.pricing-area ul {
    background: #FAFAFA;
    padding: 0;
    margin: 0;
}
.pricing-area .heading-one{
    border-color: transparent;
    background: #6c2400;
        padding: 17px 0;
}
h5 {
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    margin: 0 !important;
    padding-top: 0px;
}
.heading-one p {
    margin: 0 0 25px;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    color: #efecec;
    margin-top: 20px;
}
.pricing-area ul li:nth-child(even) {
    background: #f5f5f5;
}
.pricing-area ul li{
    list-style: none;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
}
.plan-action {
    height: 40px;
}

.col.s12 a {
      font-size: 40px;
       color: #404040;
       font-weight: 400;
      }

p {
    margin: 0 0 25px;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    color: #404040;
    margin-top: 20px;
}
.container{
    width:1070px;
    }

</style>
<div class="maincontent">
<div class="page-red"><h5 class="page-title">Services</h5>


<div style="position: absolute;   top: -99px;    left: 0;    right:0;">
<svg class="chevron-red" style="fill:#6c2400; position:relative; left:0;" fill-opacity="1" height="100px" preserveAspectRatio="none"viewBox="0 0 100 100" width="30%">
  <path d="m0,100l50,-50l50,50l-100,0" stroke-width="0"></path>
</svg>
</div> <!-- svg red image -->



<div style="position: absolute;   bottom:-6px;    left: 0;    right:0; ">
<svg style="fill:#fff; position:relative; left:0;" fill-opacity="1" height="100px"  preserveAspectRatio="none"  viewBox="0 0 100 100" width="30%">
  <path d="m0,100l50,-50l50,50l-100,0" stroke-width="0"></path>
</svg>
</div> <!-- svg white image -->
</div>


    <div class="container">
<div class="row">
<div class="col s12" >
<div class="center" style="visibility: visible;">
<h1>What I Do</h1>
<div class="divider"></div>
<h3>Committed to making your special occasion a memorable one. </h3>
</div>
</div>
</div>
</div>


    <div class="container">
        <div class="row" style="margin-top:30px; margin-bottom:30px;">
<div class="col s4" > <p>
</p><h3>Bridal Mehndi</h3>
<p>A whole range of bridal design options available, from simple to intricate with heavy details, from traditional Indian to Arabic. Packages depend on the style and length of the mehendi on arms and legs.</p></div>
<div class="col s4"><p>
</p><h3>Sangeet Parties</h3>
<p>Whether it is mehndi or sangeet night, kick off the wedding festivities with mehndi fun. The pricing is based on an hourly rate and not on a per hand rate.</p> </div>
<div class="col s4"><p>
</p><h3>Engagements</h3>
<p>Adorn your beautiful hands for the first wedding festivity with some mehndi.</p></div>
</div></div>
    <div class="container" >
        <div class="row" style="margin-top:30px; margin-bottom:30px;">
<div class="col s4"> <p>
</p><h3>Baby/Bridal Showers</h3>
<p>Whether it’s belly mehndi or mehndi for your guests at your shower, it’s sure to be a hit.</p></div>
<div class="col s4"><p>
</p><h3>Birthday Parties</h3>
<p>Who says mehndi is just for weddings, bring the joy of color to any event.</p> </div>
<div class="col s4"><p>
</p><h3>School/Corporate Events</h3>
<p>Mehndi is always a super hit at all school and corporate functions.</p></div>
</div></div>

    <div class="container">
        <div class="row" style="margin-top:30px; margin-bottom:30px;">
<div class="col s4"> <p>
</p><h3>Bar/Bat Mitzvah</h3>
<p>Mehndi is fun for all kids and adults a like, ring in the teen hood with a hit Bar/Bat Mitzvah.</p></div>
<div class="col s4"><p>
</p><h3>Grad Night</h3>
<p>The new graduates really enjoy this and the henna artist is busy at this event all night.</p></div>
<div class="col s4"><p>
</p><h3>Girls Night Out</h3>
<p>A fun way to bond with your girlfriends. Go with a non-traditional mehndi design, maybe something on the back or shoulder.</p></div>
</div></div>
    <div class="container">
<div class="row">
<div class="col s12"style="height:301px">
<div class="center" style="visibility: visible;">
<h1>Publications</h1>
<div class="divider"></div>
<h3>Are you aspiring to be a mehndi designer as well? Try out some of these great henna books I have had the pleasure of creating designs for over the past few years. Please feel free to contact me for information on our annual Spring Fling Henna Conference held in early spring.</h3>
</div>
</div>
</div>
</div>


    <div class="container">
        <div class="row" style="margin-top:30px; margin-bottom:30px;">
        <section class="pricing-page">
            <div class="pricing-area">
            <div class="col s4 plan price-one wow fadeIn animated animated animated animated" style="visibility: visible; text-align: center; margin-top: 30px; margin-bottom: 50px;">
<ul  style="height:407px; width:350px" >
    <li class="heading-one" >
<h5>Sindoor by Neeta Sharma</h5>
<p><span>$10/per e-book</span></p></li>
<li>
<p></p>
<ul>
<li>12 matching bridal patterns</li>
<li>Intricate florals mixed with geometric designs</li>
<li>The occasional bride and groom peeking out</li>
</ul>
<p>
</p></li>
<li class="plan-action">
<a class="btn btn-primary" href="http://www.magicalmehendi.com/shop/ebooks/sindoor-by-neeta-sharma-e-book/">Purchase E-Book</a>
</li></ul></div></div></section>
<section class="pricing-page">
    <div class="pricing-area">
        <div class="col s4 plan price-one wow fadeIn animated animated animated animated" style="visibility: visible; text-align: center; margin-top: 30px; margin-bottom: 50px;">
<ul>
    <li class="heading-one">
<h5>Sangeet the Early Collection</h5>
<p><span>$20/per e-book</span></p></li>
<li>
<p></p>
<ul>
<li>80pgs of Sangeet, Light/dense bridal patterns</li>
<li>For her closest family members, cousins, guests</li>
<li>and even for the Men and boys!</li>
</ul>
<p>
</p></li>
<li class="plan-action">
<a class="btn btn-primary" href="http://www.magicalmehendi.com/shop/ebooks/sangeet-the-early-collection-e-book/">Purchase E-Book</a>
</li></ul></div></div></section>
<section class="pricing-page"><div class="pricing-area">
    <div class="col s4 plan price-one wow fadeIn animated animated animated animated" style="visibility: visible; text-align: center; margin-top: 30px; margin-bottom: 50px;">
<ul>
    <li class="heading-one">
<h5>Haunted Henna</h5>
<p><span>$5/per e-book</span></p></li>
<li>
<p></p>
<ul>
<li>Fun Halloween themed book!</li>
<li>Over 30 mix and match designs</li>
<li>Perfect for the spooky fall holiday</li>
</ul>
<p>
</p></li>
<li class="plan-action">
<a class="btn btn-primary" href="http://www.magicalmehendi.com/shop/ebooks/haunted-henna-by-neeta-desai-sharma-e-book-2/">Purchase E-Book</a>
</li></ul></div></div></section></div></div>

    <div class="container">
        <div class="row" style="margin-top:30px; margin-bottom:30px;">
        <section class="pricing-page">
            <div class="pricing-area">
            <div class="col s4 plan price-one wow fadeIn animated animated animated animated" style="visibility: visible; text-align: center; margin-top: 30px; margin-bottom: 50px;">
<ul>
    <li class="heading-one" >
<h5>Peacock Inspired Mehndi</h5>
<p><span>$12/per e-book</span></p></li>
<li>
<p></p>
<ul>
<li>Collection of 23 peacock inspired henna designs</li>
<li>Including patterns for brides, wedding guests, and festivals</li>

</ul>
<p>
</p></li>
<li class="plan-action">
<a class="btn btn-primary" href="http://www.magicalmehendi.com/shop/ebooks/sindoor-by-neeta-sharma-e-book/">Purchase E-Book</a>
</li></ul></div></div></section>
<section class="pricing-page">
    <div class="pricing-area">
        <div class="col s4 plan price-one wow fadeIn animated animated animated animated" style="visibility: visible; text-align: center; margin-top: 30px; margin-bottom: 50px;">
<ul>
    <li class="heading-one">
<h5>Henna Inspired Cake Designs</h5>
<p><span>$8.50/per e-book</span></p></li>
<li>
<p></p>
<ul>
<li>30 designs for cakes and cupcakes</li>
<li>Inspired by traditional Indian, Moroccan, Khaleeji, and Indo-Arabic patterns</li>
</ul>
<p>
</p></li>
<li class="plan-action">
<a class="btn btn-primary" href="http://www.magicalmehendi.com/shop/ebooks/sangeet-the-early-collection-e-book/">Purchase E-Book</a>
</li></ul></div></div></section>
<section class="pricing-page"><div class="pricing-area">
    <div class="col s4 plan price-one wow fadeIn animated animated animated animated" style="visibility: visible; text-align: center; margin-top: 30px; margin-bottom: 50px;">
<ul style="height:377px; width:350px" >
    <li class="heading-one">
<h5>Ten Sangeet Henna Hands</h5>
<p><span>$4.99/per e-book</span></p></li>
<li>
<p></p>
<ul>
<li>Crowd pleasing favorite designs at sangeets and mehndi parties</li>
<li>Perfect for newer henna artists to practice</li>

</ul>
<p>
</p></li>
<li class="plan-action">
<a class="btn btn-primary" href="http://www.magicalmehendi.com/shop/ebooks/haunted-henna-by-neeta-desai-sharma-e-book-2/">Purchase E-Book</a>
</li></ul></div></div></section></div></div>

    <div class="container" >
        <div class="row" style="margin-top:30px; margin-bottom:30px;">
            <div class="col s12"> <p>
</p><h2><a href="http://hennacaravan.com/shop/henna_patterns.html">Henna Caravan</a></h2>
<p>Simply Sangeet Part 1 &amp; 2<br>
Creature Creations Part 1 &amp; 2<br>
Indian Summer Part 1, 2 &amp; 3<br>
Khazana<br>
</p></div></div></div>
</div>
{% endblock %}